@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter-VariableFontopszwght.eot");
  src: url("./assets/fonts/Inter-VariableFontopszwght.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/Inter-VariableFontopszwght.woff2") format("woff2"),
    url("./assets/fonts/Inter-VariableFontopszwght.woff") format("woff"),
    url("./assets/fonts/Inter-VariableFontopszwght.ttf") format("truetype"),
    url("./assets/fonts/Inter-VariableFontopszwght.svg#Inter") format("svg");
}

:root {
  --color-primary: #ffffff;
  --color-secondary: #fcfaf8;
  --color-text-primary: #202020;
  --color-text-secondary: #f07f75;
  --color-outline: #818181;
  --color-border: #cccccccb;
  --color-placeholder: #808080;
  --color-secondary-btn: #e5e5e577;
  --color-delete: #ff7f74;
  --color-cta: #de4c4a;
  --color-cta-hover: #da6d6b;
  --color-cta-disabled: #de4c4a41;
  --color-cta-disabled-text: #ffffff94;
  --color-option-hover: #de8d4a1a;
  --color-menu-hover: #dadada56;
  --color-btn-hover: #e5e5e5;
  --color-priority-1: #d1453b;
  --color-priority-2: #eb8909;
  --color-priority-3: #246fe0;

  --button-padding-small: 4px 8px;
  --button-padding-medium: 8px 12px;
  --button-padding-large: 12px 22px;

  --button-font-small: 0.875rem;
  --button-font-medium: 1rem;
  --button-font-large: 1.125rem;

  --title-font-size: 2.1rem;

  /* Spacing (rem-based) */
  --spacing-xxs: 0.25rem; /* 4px */
  --spacing-xs: 0.5rem; /* 8px */
  --spacing-sm: 1rem; /* 16px */
  --spacing-md: 1.5rem; /* 24px */
  --spacing-lg: 2rem; /* 32px */
  --spacing-xl: 3rem; /* 48px */
  --spacing-xxl: 4rem; /* 64px */

  /* Border-Radius */
  --radius-x-small: 6px;
  --radius-small: 8px;
  --radius-medium: 12px;
  --radius-large: 16px;
  --radius-x-large: 24px;
  --radius-round: 50%;

  --font-weight-thin: 100;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
  --font-weight-black: 900;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: grid;
  grid-template-areas: "sidebar main";
  grid-template-columns: 18vw 1fr;

  font-family: "Inter", serif;
  color: var(--color-text-primary);
}

.dark-mode {
  --color-primary: #1e1e1e;
  --color-secondary: #262626;
  --color-text-primary: #ffffff;
  --color-outline: #cccccc;
  --color-border: #cccccc25;
  --color-secondary-btn: #262626;
  --color-option-hover: #812c2b50;
  --color-menu-hover: #de8d4a1a;
  --color-btn-hover: #cccccc18;
}

button,
input[type="checkbox"],
select {
  cursor: pointer;
}

button,
input,
select {
  color: inherit;
  background-color: inherit;

  border: 0;
}

input[type="text"] {
  outline: none;
  border: 0;
}

.button--small {
  padding: var(--button-padding-small);
  font-size: var(--button-font-small);
}

.button--medium {
  padding: var(--button-padding-medium);
  font-size: var(--button-font-medium);
}

.button--large {
  padding: var(--button-padding-large);
  font-size: var(--button-font-large);
}

.btn-icon {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cta-button {
  background-color: var(--color-cta);
  font-weight: var(--font-weight-bold);
  color: #ffffff;
}

.cta-button:hover {
  background-color: var(--color-cta-hover);
}

.cta-button:disabled {
  cursor: not-allowed;
  background-color: var(--color-cta-disabled);
  color: var(--color-cta-disabled-text);
}

.filled-button {
  background-color: var(--color-secondary-btn);
  font-weight: var(--font-weight-bold);
}

.filled-button:hover {
  background-color: var(--color-btn-hover);
}

#header {
  background-color: var(--color-primary);

  display: flex;
  gap: var(--spacing-xs);

  padding: var(--spacing-sm);
  margin-bottom: var(--spacing-sm);
}

.header__button {
  border-radius: var(--radius-x-small);

  color: var(--color-outline);

  font-size: var(--button-font-large);
  font-weight: var(--font-weight-bold);
}

.header__button:hover {
  background-color: var(--color-btn-hover);
}

#my-projects-btn {
  padding: 12px 6px;
}

#my-projects-btn:hover {
  color: var(--color-text-primary);
}

#theme-btn {
  padding: 0.8rem;
  display: grid;
  place-items: center;
}

.theme-btn--light {
  display: none;
}

.dark-mode .theme-btn--dark {
  display: none;
}

.dark-mode .theme-btn--light {
  display: block;
}

/* Sidebar Styles */
#sidebar {
  background-color: var(--color-secondary);
  grid-area: sidebar;

  display: flex;
  flex-direction: column;

  padding: var(--spacing-sm);
}

.sidebar__btn {
  height: 45px;
  padding: var(--button-padding-small);

  /* border: 1px solid red; */
  border-radius: var(--radius-small);

  font-size: 1.1rem;
  font-weight: var(--font-weight-bold);
}

.sidebar__btn:hover {
  background-color: var(--color-menu-hover);
}

.sidebar__btn--selected {
  color: var(--color-cta);
  background-color: var(--color-option-hover);
}

.sidebar__btn--selected:hover {
  background-color: var(--color-option-hover);
}

.sidebar__btn--selected button:hover {
  background-color: var(--color-secondary);
}

#sidebar__add-task {
  display: flex;
  align-items: center;
  gap: var(--spacing-xs);
}

#sidebar__add-task svg {
  max-width: 100%;
  border-radius: var(--radius-round);
  background-color: var(--color-cta);
}

#sidebar__add-task p {
  color: var(--color-text-secondary);
}

#projects-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: var(--spacing-md);

  color: var(--color-outline);

  cursor: pointer;
}

#projects-btn.sidebar__btn--selected {
  color: var(--color-text-primary);
}

.projects__add {
  width: 40px;
  border-radius: var(--radius-x-small);
  background-color: transparent;
}

.projects__add svg {
  max-width: 100%;
}

.projects-modal[open] {
  outline: 0;
  border-radius: var(--radius-medium);
  background-color: var(--color-primary);
  color: var(--color-text-primary);

  display: grid;
  grid-template-rows: 70px 1fr auto;

  width: 600px;
  padding: 0;
  border: none;
  max-width: 60%;
  min-height: 20vh;
}

.projects-modal::backdrop {
  background: rgba(0, 0, 0, 0.5);
}

.projects__header {
  border-bottom: 1px solid var(--color-border);

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: var(--spacing-sm);
}

#projects-form {
  padding: var(--spacing-md);
}

.projects-form__text {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
}

.projects-form__label {
  font-size: 1.1rem;
  font-weight: var(--font-weight-bold);
}

#projectName {
  outline: 1px solid var(--color-border);
  border-radius: var(--radius-x-small);

  padding: var(--spacing-xs);

  font-size: 1.2rem;
}

#projectName:focus,
#projectName:active {
  outline-color: var(--color-outline);
}

.projects__footer {
  border-top: 1px solid var(--color-border);

  display: flex;
  align-items: center;
  justify-content: end;

  padding: var(--spacing-md);
  gap: var(--spacing-sm);
}

.projects__footer button {
  border-radius: var(--radius-small);
}

.projects__add-btn {
  font-size: var(--button-font-large);
  padding: 12px 28px;
}

.projects__title {
  font-size: 1.3rem;
  font-weight: var(--font-weight-bold);
}

/* Project List */
.project-list {
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin: 0;
  padding: 0;
}

.project-item {
  width: 100%;
  list-style-type: none;
  cursor: pointer;

  font-weight: var(--font-weight-regular);
  padding: 1rem;
  display: flex;
  align-items: center;
}

.project-item__title {
  pointer-events: none;
}

/* Main Styles */
#main {
  background-color: var(--color-primary);
  grid-area: main;

  display: grid;
  grid-template-rows: auto 1fr;
}

#content {
  background-color: var(--color-primary);
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 0.6rem;

  margin: 0 auto;
  width: 1000px;
}

.project-title {
  width: 100%;

  display: grid;
}

.title-input {
  border-radius: var(--radius-x-small);

  padding: var(--spacing-xs);

  font-size: var(--title-font-size);
  font-weight: var(--font-weight-bold);
}

.title-input:hover,
.title-input:active {
  outline: 1px solid var(--color-border);
}

.task-container {
  display: flex;
  flex-direction: column;
  padding: 0;
  width: 100%;
}

.task-item {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-left: 0.6rem;
  padding: var(--spacing-xxs) 0;

  border-bottom: 1px solid var(--color-border);

  cursor: pointer;
}

/* Task Item Modal */
/* NOTE: When applying `display: ` always use the `open` attribute, otherwise modal will always display */
.task-item__modal[open] {
  outline: 0;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2), 0 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: var(--radius-medium);
  background-color: var(--color-primary);
  color: var(--color-text-primary);

  display: grid;
  grid-template-rows: 70px 1fr;

  width: 900px;
  padding: 0;
  border: none;
  max-width: 60%;
  min-height: 70vh;
}

.task-item__modal::backdrop {
  background: rgba(0, 0, 0, 0.5);
}

.modal__header {
  border-bottom: 1px solid var(--color-border);

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: var(--spacing-sm);
}

.modal__project-btn {
  font-weight: var(--font-weight-bold);
  padding: var(--button-padding-medium);
  border-radius: var(--radius-x-small);
}

.modal__project-btn:hover {
  background-color: var(--color-btn-hover);
}

.modal__close-btn {
  display: grid;
  place-items: center;

  width: 40px;
  padding: var(--spacing-xs);
  border-radius: var(--radius-small);
}

.modal__close-btn:hover {
  background-color: var(--color-btn-hover);
}

.close-icon {
  max-width: 100%;
}

.modal__content {
  display: grid;
  grid-template-columns: 1fr 350px;
}

/* Moda Details Section */
.modal__details {
  padding: var(--spacing-sm);
}

/* Task Item Details Form */
#item-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--spacing-sm);
}
.item-form__content {
  display: flex;
  align-items: start;
  gap: var(--spacing-sm);
}

.item-form__text {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);

  width: 100%;
}

.item-form__text--focus {
  border: 1px solid var(--color-border);
  border-radius: var(--radius-medium);
  gap: var(--spacing-md);
  padding: var(--spacing-xs);
  padding-bottom: var(--spacing-xl);
}

.item-form__title {
  font-size: 1.6rem;
  font-weight: var(--font-weight-bold);
}

.item-form__description {
  font-size: 1.15rem;
}

.item-form__description::placeholder {
  content: "Dasdasd";
  padding-left: 1.5rem;
  background-size: 20px;
  background-image: url("./assets/icons/align-left-icon.svg");
  background-repeat: no-repeat;
  background-position-y: bottom;
}

.item-form__actions {
  display: none;
  gap: var(--spacing-xs);
  justify-content: end;
}

.item-form__cancel {
  border-radius: var(--radius-small);
}

.item-form__save {
  border-radius: var(--radius-small);
}

/* Task Details Section*/
.task__details {
  pointer-events: none;

  display: flex;
  align-items: center;
  gap: var(--spacing-xs);
}

/* Custom Checkbox */
.checkbox__input {
  appearance: none;
  -webkit-appearance: none;

  width: 24px;
  height: 24px;

  border: 1px solid var(--color-outline);
  border-radius: var(--radius-round);
  background-color: var(--color-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

/* Checkbox mark styling */
.checkbox__input::after {
  content: "";
  width: 24px;
  height: 24px;

  display: none; /* Initially hidden */
  background-image: url(./assets/icons/check.svg);
  background-size: cover;
  background-repeat: no-repeat;
  transition: transform 0.2s ease;
}

/* BUG: Hover not appearing */
.checkbox__input:hover::after {
  display: block; /* Show the checkmark */
}

.checkbox__input:checked::after {
  display: block;
}

.checkbox__input:not(:checked)::after {
  display: none;
}

/* Modal Options Section */
.modal__options {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: var(--spacing-sm);
  background-color: var(--color-secondary);
}

#optionsForm {
  display: flex;
  justify-content: start;
  flex-direction: column;
  color: var(--color-text-primary);
  gap: var(--spacing-sm);
}

.options-group {
  border-bottom: 1px solid var(--color-border);

  display: flex;
  flex-direction: column;
  gap: var(--spacing-xs);

  padding: var(--spacing-sm) 0;
}

.options-label {
  color: var(--color-outline);
  padding-left: var(--spacing-xs);

  font-weight: var(--font-weight-bold);
}

.options-group:hover .options-label {
  color: var(--color-text-primary);
}

.item-form__input {
  border-radius: var(--radius-small);
}

.item-form__input:hover {
  background-color: var(--color-option-hover);
}

.item-form__date {
  padding: var(--spacing-xs);
  cursor: text;
}

.item-form__priority {
  padding: var(--spacing-xs);
  background-color: var(--color-secondary);
}

.item-form__priority option {
  background-color: var(--color-secondary);
}

.options__delete {
  display: flex;
  align-items: center;
  gap: var(--spacing-sm);

  padding: var(--button-padding-medium);
  border-radius: var(--radius-small);

  color: var(--color-delete);
}

.options__delete:hover {
  background-color: var(--color-option-hover);
}

.task__options {
  display: flex;
  gap: var(--spacing-sm);
}

.task__edit {
  background-color: inherit;
  border: 0;
  width: 30px;
  padding: 2px;

  border-radius: var(--radius-x-small);
}
.task__edit:hover {
  background-color: var(--color-btn-hover);
}

.add-task {
  position: relative;

  margin-top: 0.2rem;
  margin-left: 0.6rem;
}

.add-task__btn {
  display: flex;
  align-items: center;
  gap: var(--spacing-xs);

  width: 100%;
  padding: 0;
}

.add-task-icon {
  border-radius: 50%;
}

.add-task__btn:hover .add-task-icon {
  background-color: var(--color-cta);
  fill: #ffffff;
}

.add-task__btn:hover .add-task__text {
  color: var(--color-cta);
}

.add-task__text {
  color: var(--color-placeholder);
}

.add-task__popover {
  top: 0;
  width: 100%;
  min-height: 200px;

  border: 1px solid var(--color-border);
  border-radius: var(--radius-medium);
  background-color: var(--color-primary);

  padding: 0;
}

.add-task__popover:has(*:focus) {
  border-color: #cccccc69;
}

#add-task__form {
  display: grid;
  grid-template-rows: auto auto;
  color: var(--color-text-primary);
}

.task-form__content {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);

  border-bottom: 1px solid var(--color-border);
  padding: var(--spacing-sm);
}

.task-form__text {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xs);
}

.task-form__title {
  font-size: 1.2rem;
  font-weight: var(--font-weight-bold);
}

.task-form__select {
  display: flex;
  gap: var(--spacing-xs);
}

.task-form__date {
  padding: var(--spacing-xs);

  color: var(--color-text-primary);
  border: 1px solid var(--color-border);
  border-radius: var(--radius-x-small);
}

.task-form__priority {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;

  outline: none;
  border: 1px solid var(--color-border);
  border-radius: var(--radius-x-small);

  padding: var(--spacing-xs);
  color: var(--color-text-primary);
  background-color: var(--color-primary);
}

.task-form__date:hover,
.task-form__priority:hover {
  background-color: var(--color-btn-hover);
}

.task-form__priority:hover option {
  background-color: var(--color-primary);
}

.task-form__footer {
  display: flex;
  justify-content: end;

  padding: var(--spacing-xs);
}

.task-form__options {
  display: flex;
  align-items: center;
  justify-content: end;

  gap: var(--spacing-xs);
}

.task-form__options button {
  font-size: var(--button-font-large);
  padding: var(--button-padding-large);
  border-radius: var(--radius-small);
}

/* My Projects */
.my-projects {
  padding-left: 0.6rem;
  font-size: 1.1rem;
  margin-top: 5rem;
}
.my-projects__project-count {
  font-weight: var(--font-weight-bold);

  padding-bottom: var(--spacing-xs);
  border-bottom: 1px solid var(--color-border);
  margin: 0;
}

.my-projects__list {
  padding: 0;
  margin: 0;
}

.my-projects__item {
  display: flex;
  align-items: center;
  gap: var(--spacing-sm);

  padding: var(--spacing-xs);
  border-radius: var(--radius-small);

  list-style-type: none;
  cursor: pointer;
}

.my-projects__item:hover {
  background-color: var(--color-btn-hover);
}

.my-projects__item img {
  width: 28px;
}
